@using Shop.Models
@model AddFormModel
@{
    ViewBag.Title = "AddForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/addform.css" /> 

<h2>Добавить товар</h2>

<p>
    <span>Название</span><input id="name"/>
</p>
<p>
    <span>Артикул</span><input id="articul" />
</p>
<p>
    <span>Описание</span><textarea id="description" cols="40"></textarea>
</p>
<p>
	<span>Цены</span>
</p>
<p>
	<select>
		@foreach (var size in @Model.Sizes)
		{
			<option id="@size.SizeId">@size.SizeName</option>
		}
	</select>
</p>

