@using Shop.Models
@model AddFormModel

<p class="price_item">
	<select>
		@foreach (var size in @Model.SizePriceModels)
		{
			<option sizeid="@size.SizeId">@size.SizeName</option>
		}
	</select>
	<input class="price"/>
	<a href="#" class="btn btn-danger delete_price" onclick="deleteprice(this)" role="button">Удалить</a>
</p>